# Required Telegram and MongoDB settings. Add the real values in Replit Secrets.
API_ID=37476811
API_HASH=7aa60670b871050820086c6267371ee6
BOT_TOKEN=7512964694:AAHmnaJ7FBPUOw5l2AvmHodczsjmutUui8Y
SESSION=1BVtsOJ0Bu7iFhYaPaDWTPDdVAtu310L3iOh4PlTSxrTSyGaJPYQzf6rDgAMM9xGktQy9DodpC5TCCDTBMV3AiS4f5SNUbDR6kiPQ0PHUfj--XOQv82ZW2w2e7SM6GXvGdVTDXczbTBypUSYN0pSu-IMCd5atImWZBG6DvOg8o95pKmC9nc0H5jRMCfTBrtFbB0ba6iysaBd515MDP8fEWefKnRB8k8az61yt3hYhNhG-LQ2xgb1bz845tfZUK2KuKzXnmRZiMUmB_0agXDwQSEnTlJa5NlJxken911hhODilu2VCTKwbnweqj9QFHPDGoJcRZ-1GaVeGI-o1K70J3GZqLdcA_Ls=
OWNER_ID=8730393744
MONGO_URI=mongodb+srv://Anujedit:Anujedit@cluster0.7cs2nhd.mongodb.net/?appName=Cluster0

# Optional settings
ADMINS=8730393744
TG_BOT_WORKERS=10
DAILY_FREE_LIMIT=10
AUTO_DELETE_SECONDS=3600
LOG_CHANNEL=-1003824246703
